alembic==1.15.2
environs==11.2.1
fastapi==0.115.6
opentelemetry-api==1.32.0
opentelemetry-sdk==1.32.0
opentelemetry-exporter-otlp==1.32.0
opentelemetry-instrumentation-fastapi==0.53b0
pytest==8.3.4
pytz==2024.2
structlog==25.2.0
sqlalchemy==2.0.40
uvicorn==0.32.1
